/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --background-image: url(../svg/background.svg);
  --font-inter: 'Inter-Variable';
  --font-pressStart2P: 'PressStart2P-Regular';
  --font-inter-weight: 400 900;
  --font-inter-str: 50% 200%;
  --font-inter-size: 18px; 
  --font-size-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --line-height-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --line-height-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-weight-title: 400;
  --font-watermark: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --line-height: 21px;
  --font-section-title: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --line-height-section-title: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
  --section-title-weight: 700;
  --inline-size-title: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --block-size-title: clamp(20.4375rem, 19.5792rem + 3.662vw, 22.875rem);
  --margin-size: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  --inline-size-section: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  --color-text-shadow: #fff;
  --button-icon-weight: 400;
  --contour-color: black;
  --main-color-heart: #FF0000;
  --heart-hover-color: black;
  --background-gradient: repeating-linear-gradient(to right, #d3d3d3, transparent 2px),
  repeating-linear-gradient(to top, #d3d3d3, transparent 2px),
  linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}

